*{
    font-family: sans-serif;
}
.flex{
    display: flex;
}

.just-con-bet{
    justify-content: space-between;
}

.nav__ul-style{
    list-style: none;    
}

.ali-items-cen{
    align-items: center;
}

.pos-rela{
    position: relative;

}





.con-80{
max-width: 80%;
margin:0 auto;
}
.con-60{
    max-width: 60%;
    margin:0 auto;
    }

nav{
   
    padding: 30px;
   
}

nav li{
margin: 0 10px;
}

.button-features{
    color:white;
    background-color:#0061fe;
    border: none;
    padding: 10px 20px;
}

main section h1{
    font-size: 60px;
   
}

main section{
    background-color:#b4d0e6;

}

section h1{
   
    margin-bottom: 50px;

}
   
.mar-bot-30{
    margin-bottom: 30px;

}
.mar-blo{
    margin:30px 0 50px 0;

}
.arrow{
    font-size: 100px;
   

}

section div div.pos-abso img{
    width: 800px ;


}

.pos-abso{
    position:absolute;
   top: 280px;
   left:700px;
}
hr{
    margin:100px 0 50px 0;
}

.mar-10{
margin-right: 50px;
}

.pos-dim-element{
   justify-content: space-between;       
}

.fl-bas-cal{
    flex-basis:calc(100%/3);  
}

.div-p-style{
    border-bottom:1px solid #d0cfd2;
    text-align: center;
}

.bor-sol{
  border: 1px solid #d0cfd2;
}
div.flex div ul{
    list-style: none;
    margin-block:20px ;
    margin-left:20px;
}




div.bor-sol li{
    margin-block: 10px;
}

.main__button-style{
    height: 100%;   
    aspect-ratio: 1; 
    border-radius: 50%;
    background: white;
}
.main__button-blue{
    border:5px solid #0061fe;
   
}
.main__button-grey{
    border: 2px solid grey;

}
.fl-bas-cal-50{
    flex-basis:20%;  
}

.mar-top-50{
    margin-top: 50px;

}

.fl-bas-cal-66{
    flex-basis:66%;  
}



.containers__button{
    margin-top:20px;
    margin-right:20px ;

}

#team{
    text-align: center;
    padding:20px;
    border: 1px  solid #d0cfd2;
}



.containers__text{

    margin-left: 20px;                

}

.tex-ali-ce{
    text-align: center;
}

div.containers__text.fl-bas-cal-66 >div{

margin-bottom: 30px;

}
.conteiners-teams{
    border: 1px solid #d0cfd2;
    

}



.container__partner{
    margin-top: 200px;
}
.container__partner__img{
    
    flex-basis:50%;

}
.container__partner__img img{
    width: 550px;
    

}

.container__partner__text{
    margin-top:60px;
    flex-basis:50%;
}
