*{
    font-family: sans-serif;
}
.flex{
    display: flex;
}

.just-con-bet{
    justify-content: space-between;
}

.nav__ul-style{
    list-style: none;    
}

.ali-items-cen{
    align-items: center;
}

.pos-rela{
    position: relative;

}





.con-80{
max-width: 80%;
margin:0 auto;
}
.con-60{
    max-width: 60%;
    margin:0 auto;
    }

nav{
   
    padding: 30px;
   
}

nav li{
margin: 0 10px;
}

.button-features{
    color:white;
    background-color:#0061fe;
    border: none;
    padding: 10px 20px;
}

main section h1{
    font-size: 60px;
   
}

main section{
    background-color:#b4d0e6;

}

section h1{
   
    margin-bottom: 50px;

}
   
.mar-bot-30{
    margin-bottom: 30px;

}
.mar-blo{
    margin:30px 0 50px 0;

}
.arrow{
    font-size: 100px;
   

}

section div div.pos-abso img{
    width: 700px ;


}

.pos-abso{
    position:absolute;
   top: 200px;
   left:700px;
}
hr{
    margin:100px 0 50px 0;
}

.mar-10{
margin-right: 50px;
}

